<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5qNggu984h4gA0XVzmYY5MJ7Zd5c7Y8M</string>
	<key>GCM_SENDER_ID</key>
	<string>461087765945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutoringApp</string>
	<key>PROJECT_ID</key>
	<string>tutoring-app---auth-a6d50</string>
	<key>STORAGE_BUCKET</key>
	<string>tutoring-app---auth-a6d50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461087765945:ios:b3bdac25307446e22cf268</string>
</dict>
</plist>